#avatar {
    background-size: cover;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    touch-action: none;
    margin: auto;
}

.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
}

    .banner > span {
        display: none;
        text-align: center;
        line-height: 160px;
        border-radius: 50%;
        color: white;
        font-size: 3em;
    }

    .banner:hover span {
        display: block;
        background: rgba(0,0,0,0.5);
        cursor: pointer;
    }

.label-hand:hover {
    align-items: center;
}

.custom-file {
    height: 52px;
}

.custom-file-label, .custom-file-label::after {
    height: 100%;
    border-radius: 0px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: inherit;
    color: #999999;
    font-weight: 500;
}

div .alert {
    border-radius: 0px;
}

.btn-round {
    height: 52px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}
